LOG_LEVEL=DEBUG
POOLING_DELAY=30

TEMPLATE_FOLDER=./templates
INPUT_FOLDER=./input
OUTPUT_FOLDER=./output

INPUT_HEADERS=First_Name,Last_Name,Job_Title,Phone_Number,Email_Address,Address,Summary,Job_Title1,Job_Company1,Job_Employement_Date1,Job_Summary1,Job_Title2,Job_Company2,Job_Employement_Date2,Job_Summary2,Job_Title3,Job_Company3,Job_Employement_Date3,Job_Summary3,Job_Title4,Job_Company4,Job_Employement_Date4,Job_Summary4,Job_Title5,Job_Company5,Job_Employement_Date5,Job_Summary5,Education,Certifications,Technical_Skills
INPUT_DATA_TYPES={"First_Name":"str","Last_Name":"str","Job_Title":"str","Phone_Number":"str","Email_Address":"str","Address":"str","Summary":"str","Job_Title1":"str","Job_Company1":"str","Job_Employement_Date1":"str","Job_Summary1":"str","Job_Title2":"str","Job_Company2":"str","Job_Employement_Date2":"str","Job_Summary2":"str","Job_Title3":"str","Job_Company3":"str","Job_Employement_Date3":"str","Job_Summary3":"str","Job_Title4":"str","Job_Company4":"str","Job_Employement_Date4":"str","Job_Summary4":"str","Job_Title5":"str","Job_Company5":"str","Job_Employement_Date5":"str","Job_Summary5":"str","Education":"str","Certifications":"str","Technical_Skills":"str"}